<div>
    <div class="ui top attached pointing secondary stackable menu">
        <a tab-item id="mytab1" class="tab item active">How can I pay?</a>
        <a tab-item id="mytab2" class="tab item">How can I find?</a>
        <a tab-item id="mytab3" class="tab item">How can I resolve?</a>
        <a tab-item id="mytab4" class="tab item">How can I do that ?</a>
        <a tab-item id="mytab5" class="tab item">How can you do this?</a>
        <a tab-item id="mytab6" class="tab item">Lorem ipsum dolor sit ?</a>
    </div>

    <div class="ui bottom attached tab segment active mytab1">
        <p>Shipping</p>
    </div>

    <div class="ui bottom attached tab segment mytab2">
        <p>Order problems</p>
    </div>

    <div class="ui bottom attached tab segment mytab3">
        <p>International shipping</p>
    </div>

    <div class="ui bottom attached tab segment mytab4">
        <p>Lorem ipsum dolor sit amet, consectetur ? 4</p>
    </div>

    <div class="ui bottom attached tab segment mytab5">
        <p>Lorem ipsum dolor sit amet, consectetur ? 5</p>
    </div>

    <div class="ui bottom attached tab segment mytab6">
        <p>Lorem ipsum dolor sit amet, consectetur ? 6</p>
    </div>
</div>
